<div class="container">
    
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Tarea</th>
        <th scope="col">Estado Finalizado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of lista">
        <td>{{tarea.id}}</td>
        <td>{{tarea.tarea}}</td>
        <td>{{tarea.finalizado}}</td>
        <td>
            <button class="btn btn-danger">Eliminar</button>
            <button class="btn btn-info" [routerLink]="['/edit',tarea.id]" style="margin-left: 10px;">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" [routerLink]="['/add']">Agregar</button>
</div>